html, body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0; }

.container {
  width: 100%;
  height: 100%;
  position: relative; }
  @media only screen and (min-width: 64em) {
    .container {
      height: 425px;
      width: 100%; } }

.icon {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  position: relative;
  background-color: #f1f1f1;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px 0 0 0;
  background-image: url("../imgs/doctor.svg");
  background-size: contain;
  background-position: center; }

.li-form {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  top: 50px;
  width: 95%;
  height: 450px;
  position: relative;
  background-color: #F8F8F9;
  border-top: 8px solid #F1F1F1; }
  @media only screen and (min-width: 64em) {
    .li-form {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px 0 20px; } }
  .li-form form {
    display: none;
    margin: 10px 0 0 0;
    height: calc(100% - 120px);
    width: 100%; }

.form-field {
  height: 250px;
  width: 100%;
  display: none; }
  .form-field h1 {
    font-weight: 400;
    margin: 0 10px 0 10px;
    padding: 0 0 0 0;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.6em; }
  .form-field--smoker, .form-field--age {
    display: none; }
  .form-field__select {
    width: 100%;
    height: 70px;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    margin: 20px 0 0 0; }
  .form-field__selected {
    width: calc(50% - 20px);
    height: 70px;
    background-color: #662d91;
    position: absolute; }
  .form-field__button {
    width: 50%;
    height: 100%;
    float: left;
    background-color: rgba(102, 45, 145, 0.5); }
    .form-field__button span {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.6em;
      color: white;
      position: relative;
      text-align: center;
      display: inline-block; }
  .form-field--age span {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    position: relative;
    text-align: center;
    width: 60%;
    top: 20px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    display: inline-block;
    opacity: 0;
    color: red;
    display: inline-block; }
  .form-field--age input {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    position: relative;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: 1px solid #E5E5E4;
    background-color: white;
    height: 50px;
    width: 50%;
    font-size: 2.5em;
    color: #662D91;
    margin: 20px 0 0 0; }
  .form-field--cover-amount span {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    font-size: 2em;
    position: relative;
    text-align: center;
    width: 60%;
    top: 50px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    display: inline-block;
    color: #662D91; }

input[type=range] {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  background: transparent;
  /* Otherwise white in Chrome */
  width: 90%;
  position: relative;
  margin: 35px 0 0 0;
  padding: 0 0 0 0;
  top: 50%; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-ms-track {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  background-color: #662D91;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */ }

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  background-color: #662D91;
  cursor: pointer; }

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  background-color: #662D91;
  cursor: pointer; }

input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  position: relative;
  height: 5px;
  background-color: black;
  cursor: pointer;
  border-radius: 5px; }
  @media only screen and (max-height: 560px) {
    input[type=range]::-webkit-slider-runnable-track {
      height: 3px; } }

input[type=range]::-moz-range-track {
  width: 80%;
  position: relative;
  height: 5px;
  background-color: black;
  cursor: pointer;
  border-radius: 5px; }
  @media only screen and (max-height: 560px) {
    input[type=range]::-moz-range-track {
      height: 3px; } }

input[type=range]::-ms-track {
  width: 80%;
  position: relative;
  height: 5px;
  background-color: black;
  cursor: pointer;
  border-radius: 5px; }
  @media only screen and (max-height: 560px) {
    input[type=range]::-ms-track {
      height: 3px; } }

input[type=range]::-ms-fill-lower {
  width: 80%;
  position: relative;
  height: 5px;
  background-color: black;
  cursor: pointer;
  border-radius: 5px; }
  @media only screen and (max-height: 560px) {
    input[type=range]::-ms-fill-lower {
      height: 3px; } }

input[type=range]::-ms-fill-upper {
  width: 80%;
  position: relative;
  height: 5px;
  background-color: black;
  cursor: pointer;
  border-radius: 5px; }
  @media only screen and (max-height: 560px) {
    input[type=range]::-ms-fill-upper {
      height: 3px; } }

.start {
  width: 100%;
  height: 100%;
  padding: 75px 0 0 0; }
  .start span {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    padding: 0 10px 0 10px;
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 1.7em; }
  .start__button {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    width: 200px;
    height: 50px;
    background-color: #4CAE4C; }
    .start__button span {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      color: white;
      position: relative;
      text-align: center;
      display: inline-block; }

.back {
  left: 10%;
  position: absolute;
  height: 50px;
  width: 30px;
  background-image: url("../imgs/back-arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 20px;
  opacity: 0.5; }

.next {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  position: absolute;
  bottom: 20px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: #4CAE4C; }
  .next span {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    color: white;
    position: relative;
    text-align: center;
    display: inline-block; }

.progress {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 80%;
  height: 25px;
  position: absolute;
  bottom: 80px; }
  .progress__bar {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    position: absolute;
    width: 100%;
    border-radius: 5px;
    height: 5px;
    background-color: #f1f1f1; }
  .progress__fill {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    position: absolute;
    width: 0%;
    border-radius: 5px;
    height: 5px;
    background-color: #4CAE4C;
    transition-duration: 2s; }

/*# sourceMappingURL=index.css.map */
