$purple: #662D91;
$green: #4CAE4C;

$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

$small-breakpoint: em(1024) !default;

@font-face {
    font-family: 'UniversBlack';
   	src:  url('../fonts/UniversLTStd-Black.otf');
}

@font-face {
    font-family: 'UniversLight';
   	src:  url('../fonts/UniversLTStd-Light.otf');
}

@mixin respond-to($media) {
  @if $media == non-mobile {
    @media only screen and (min-width: $small-breakpoint) { @content; }
  }
}

@mixin center {
	top: 50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin center-vertical {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

@mixin center-horizontal {
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
	@include respond-to('non-mobile') {	
		height: 425px;
		width: 100%;
	}
}

.li-form {
	@include center-horizontal;
	top: 50px;
	width: 95%;
	height: 450px;
	position: relative;
	background-color: #F8F8F9;
	border-top: 8px solid $purple;
	@include respond-to('non-mobile') {	
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		padding: 0 20px 0 20px;
	}
	&__icon {
		@include center-horizontal;
		position: relative;
		background-color: #f1f1f1;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		margin: 10px 0 0 0;
	}
	form {
		margin: 10px 0 0 0;
		height: calc(100% - 120px);
		width: 100%;
	}
}

.form-field {
	height: 50%;
	width: 100%;
	h1 {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		font-family: 'Oswald', sans-serif;
		text-align: center;
	}
	&--smoker, &--age {
		display: none; // TEMP
	}
	input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		box-shadow: none;
		border: none;
		background-color: inherit;
		height: 90%;
		width: 100%;
		font-size: 2em;
	}
	&__select {
		width: 100%;
		height: 80px;
		padding: 0 10px 0 10px;
		box-sizing: border-box;
		margin: 20px 0 0 0;
	}
	&__button {
		width: 50%;
		height: 100%;
		float: left;
		background-color: $purple;
		span {
			@include center;
			font-family: 'UniversLight';
			font-size: 1.6em;
			margin: 4px 0 0 0;
			color: white;
			position: relative;
			text-align: center;
			display: inline-block;
		}
	}
}

.start {
	display: none; // TEMP
	width: 100%;
	height: 100%;
	padding: 75px 0 0 0;
	span {
		@include center-horizontal;
		font-family: 'Oswald', sans-serif;
		padding: 0 10px 0 10px;
		position: relative;
		text-align: center;
		display: inline-block;
		font-size: 1.7em;
	}
	&__button {
		@include center-horizontal;
		position: relative;
		margin: 20px 0 0 0;
		width: 200px;
		height: 50px;
		background-color: $green;
		span {
			@include center;
			font-family: 'UniversLight';
			margin: 4px 0 0 0;
			color: white;
			position: relative;
			text-align: center;
			display: inline-block;
		}
	}
}