@font-face {
  font-family: 'UniversBlack';
  src: url("../fonts/UniversLTStd-Black.otf"); }
@font-face {
  font-family: 'UniversLight';
  src: url("../fonts/UniversLTStd-Light.otf"); }
html, body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0; }

.container {
  width: 100%;
  height: 100%;
  position: relative; }
  @media only screen and (min-width: 64em) {
    .container {
      height: 425px;
      width: 100%; } }

.li-form {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  top: 50px;
  width: 95%;
  height: 450px;
  position: relative;
  background-color: #F8F8F9;
  border-top: 8px solid #662D91; }
  @media only screen and (min-width: 64em) {
    .li-form {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px 0 20px; } }
  .li-form__icon {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    position: relative;
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px 0 0 0; }
  .li-form form {
    display: none;
    margin: 10px 0 0 0;
    height: calc(100% - 120px);
    width: 100%; }
  .li-form__action {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    position: relative;
    top: 90px;
    width: 140px;
    height: 50px;
    background-color: #4CAE4C; }
    .li-form__action span {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-family: 'UniversLight';
      font-size: 1.6em;
      margin: 4px 0 0 0;
      color: white;
      position: relative;
      text-align: center;
      display: inline-block; }

.form-field {
  height: 50%;
  width: 100%; }
  .form-field h1 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Oswald', sans-serif;
    text-align: center; }
  .form-field--smoker, .form-field--age {
    display: none; }
  .form-field input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: inherit;
    height: 90%;
    width: 100%;
    font-size: 2em; }
  .form-field__select {
    width: 100%;
    height: 70px;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    margin: 20px 0 0 0; }
  .form-field__selected {
    width: calc(50% - 10px);
    height: 70px;
    background-color: #662d91;
    position: absolute; }
  .form-field__button {
    width: 50%;
    height: 100%;
    float: left;
    background-color: rgba(102, 45, 145, 0.5); }
    .form-field__button span {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-family: 'UniversLight';
      font-size: 1.6em;
      margin: 4px 0 0 0;
      color: white;
      position: relative;
      text-align: center;
      display: inline-block; }

.start {
  width: 100%;
  height: 100%;
  padding: 75px 0 0 0; }
  .start span {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    font-family: 'Oswald', sans-serif;
    padding: 0 10px 0 10px;
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 1.7em; }
  .start__button {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    position: relative;
    margin: 20px 0 0 0;
    width: 200px;
    height: 50px;
    background-color: #4CAE4C; }
    .start__button span {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-family: 'UniversLight';
      margin: 4px 0 0 0;
      color: white;
      position: relative;
      text-align: center;
      display: inline-block; }

/*# sourceMappingURL=index.css.map */
