$purple: #662D91;
$green: #4CAE4C;

$body-font: Arial, Helvetica, sans-serif;
$oswald-font: 'Oswald', Arial, Helvetica, sans-serif;

$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

$small-breakpoint: em(1024) !default;

@mixin respond-to($media) {
  @if $media == non-mobile {
    @media only screen and (min-width: $small-breakpoint) { @content; }
  }
}

@mixin center {
	top: 50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin center-vertical {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

@mixin center-horizontal {
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
	@include respond-to('non-mobile') {	
		height: 425px;
		width: 100%;
	}
}

.icon {
	@include center-horizontal;
	position: relative;
	background-color: #f1f1f1;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 10px 0 0 0;
	background-image: url('../imgs/doctor.svg');
	background-size: contain;
	background-position: center;
}

.li-form {
	@include center-horizontal;
	top: 50px;
	width: 95%;
	height: 450px;
	position: relative;
	background-color: #F8F8F9;
	border-top: 8px solid #F1F1F1;
	@include respond-to('non-mobile') {	
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		padding: 0 20px 0 20px;
	}
	form {
		display: none;
		margin: 10px 0 0 0;
		height: calc(100% - 120px);
		width: 100%;
	}
}

.form-field {
	height: 250px;
	width: 100%;
	display: none;
	h1 {
		font-weight: 400;
		margin: 0 10px 0 10px;
		padding: 0 0 0 0;
		font-family: $oswald-font;
		text-align: center;
		font-size: 1.6em;
	}
	&--smoker, &--age {
		display: none; // TEMP
	}
	&__select {
		width: 100%;
		height: 70px;
		padding: 0 20px 0 20px;
		box-sizing: border-box;
		margin: 20px 0 0 0;
	}
	&__selected {
		width: calc(50% - 20px);
		height: 70px;
		background-color: rgba(102, 45, 145, 1);
		position: absolute;
	}
	&__button {
		width: 50%;
		height: 100%;
		float: left;
		background-color: rgba(102, 45, 145, 0.5);
		span {
			@include center;
			font-family: $body-font;
			font-size: 1.6em;
			color: white;
			position: relative;
			text-align: center;
			display: inline-block;
		}
	}
	&--age {
		span {
			@include center-horizontal;
			position: relative;
			text-align: center;
			width: 60%;
			top: 20px;
			font-family: $oswald-font;
			display: inline-block;
			opacity: 0;
			color: red;
			display: inline-block;
		}
		input {
			@include center-horizontal;
			position: relative;
			text-align: center;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			outline: none;
			box-shadow: none;
			border: 1px solid #E5E5E4;
			background-color: white;
			height: 50px;
			width: 50%;
			font-size: 2.5em;
			color: $purple;
			margin: 20px 0 0 0;
		}
	}
	&--cover-amount {
		span {
			@include center-horizontal;
			font-size: 2em;
			position: relative;
			text-align: center;
			width: 60%;
			top: 50px;
			font-family: $oswald-font;
			display: inline-block;
			color: $purple;
		}
	}
}

input[type=range] {
	@include center-horizontal;
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	background: transparent; /* Otherwise white in Chrome */
	width: 90%;
	position: relative;
	margin: 35px 0 0 0;
	padding: 0 0 0 0;
	top: 50%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

@mixin thumb {
	border-radius: 5px;
	height: 30px;
	width: 30px;
	background-color: $purple;
	cursor: pointer;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  @include thumb;
  -webkit-appearance: none;
  margin-top: -13px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  @include thumb;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
	@include thumb;
}

@mixin slider {
	width: 80%;
	position: relative;
	height: 5px;
	background-color: black;
	cursor: pointer;
	border-radius: 5px;
	@media only screen and (max-height: 560px) {
		height: 3px;
	}
}

input[type=range]::-webkit-slider-runnable-track {
	@include slider;
}

input[type=range]::-moz-range-track {
	@include slider;
}

input[type=range]::-ms-track {
	@include slider;
}

input[type=range]::-ms-fill-lower {
	@include slider;
}

input[type=range]::-ms-fill-upper {
	@include slider;
}

.start {
	width: 100%;
	height: 100%;
	padding: 75px 0 0 0;
	span {
		@include center-horizontal;
		font-family: $oswald-font;
		padding: 0 10px 0 10px;
		position: relative;
		text-align: center;
		display: inline-block;
		font-size: 1.7em;
	}
	&__button {
		@include center-horizontal;
		border-radius: 5px;
		position: absolute;
		bottom: 20px;
		width: 200px;
		height: 50px;
		background-color: $green;
		span {
			@include center;
			font-family: $body-font;
			font-weight: 400;
			color: white;
			position: relative;
			text-align: center;
			display: inline-block;
		}
	}
}

.back {
	left: 10%;
	position: absolute;
	height: 50px;
	width: 30px;
	background-image: url('../imgs/back-arrow.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	bottom: 20px;
	opacity: 0.5;
}
.next {
	@include center-horizontal;
	position: absolute;
	bottom: 20px;
	width: 100px;
	height: 50px;
	border-radius: 5px;
	background-color: $green;
	span {
		@include center;
		font-family: $oswald-font;
		font-size: 1.6em;
		color: white;
		position: relative;
		text-align: center;
		display: inline-block;
	}
}

.progress {
	@include center-horizontal;
	width: 80%;
	height: 25px;
	position: absolute;
	bottom: 80px;
	&__bar {
		@include center-vertical;
		position: absolute;
		width: 100%;
		border-radius: 5px;
		height: 5px;
		background-color: #f1f1f1;
	}
	&__fill {
		@include center-vertical;
		position: absolute;
		width: 0%;
		border-radius: 5px;
		height: 5px;
		background-color: $green;
		transition-duration: 2s;
	}
}